/***
=============================================
Error Page
=============================================
***/
.error-page {
    position: relative;
    display: block;
    background: var(--tanspot-white);
    padding: 120px 0px 120px;
    z-index: 1;
}

.error-page__inner {
    position: relative;
    display: block;
}

.error-page__img {
    position: relative;
    display: block;
}

.error-page__img img {
    width: auto;
}

.error-page__content {
    position: relative;
    display: block;
    margin-top: 20px;
}

.error-page__content h2 {
    color: var(--tanspot-base);
    font-size: 40px;
    line-height: 1.5em;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.error-page__content p {
    color: var(--tanspot-black);
    margin: 0;
}

.error-page__content .btn-box {
    position: relative;
    display: block;
    line-height: 0px;
    margin-top: 21px;
}