/*--------------------------------------------------------------
# Faq One
--------------------------------------------------------------*/
.faq-one {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 338px 0 120px;
    margin-top: -338px;
    z-index: 1;
}

.faq-one::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(var(--tanspot-bdr-color-rgb), .50);
    z-index: -1;
}

.faq-one__shape-1 {
    position: absolute;
    top: -100px;
    left: -70px;
    width: 730px;
    height: 765px;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(253, 85, 35, 0.62) 0%, rgba(6, 47, 58, 0) 100%);
    opacity: 0.4;
    filter: blur(120px);
    z-index: -1;
}

.faq-one__shape-2 {
    position: absolute;
    bottom: -255px;
    right: 100px;
    width: 730px;
    height: 765px;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(253, 85, 35, 0.62) 0%, rgba(6, 47, 58, 0) 100%);
    opacity: 0.4;
    filter: blur(120px);
    z-index: -1;
}

.faq-one__left {
    position: relative;
    display: block;
}

.faq-one__img-box {
    position: relative;
    display: block;
    margin-right: 252px;
}

.faq-one__img {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 10px;
}

.faq-one__img img {
    width: 100%;
    border-radius: 10px;
}

.faq-one__experience-box {
    position: absolute;
    bottom: 30px;
    right: -70px;
    background: linear-gradient(270deg, #FD5523 45%, #ffffff 100%);
    max-width: 180px;
    width: 100%;
    text-align: center;
    padding: 30px 0 30px;
    border-radius: 10px;
    z-index: 1;
}

.faq-one__experience-year {
    position: relative;
    display: block;
}

.faq-one__experience-year h2 {
    font-size: 50px;
    color: var(--tanspot-white);
    font-weight: 700;
    line-height: 1.2em !important;
    font-family: var(--tanspot-font-two) !important;
}

.faq-one__experience-text {
    color: var(--tanspot-black);
    font-weight: 500;
}

.faq-one__right {
    position: relative;
    display: block;
}

.faq-one .faq-one-accrodion .accrodion {
    position: relative;
    display: block;
    border: 1px solid rgba(var(--tanspot-black-rgb), .15);
    background: var(--tanspot-white);
    border-radius: 20px;
    overflow: hidden;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.faq-one .faq-one-accrodion .accrodion.active {
    border: 1px solid rgba(var(--tanspot-black-rgb), .15);
    background: var(--tanspot-white);
}

.faq-one .faq-one-accrodion .accrodion-title {
    position: relative;
    display: block;
    cursor: pointer;
    padding: 23px 25px 23px;
    transition: all 200ms linear;
    transition-delay: 0.1s;
}

.faq-one .faq-one-accrodion .accrodion-title h4 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: var(--tanspot-black);
    position: relative;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.faq-one .faq-one-accrodion .accrodion+.accrodion {
    margin-top: 20px;
}

.faq-one .faq-one-accrodion .accrodion-title h4::before {
    content: "\f105";
    font-family: "Font Awesome 5 Pro";
    font-weight: 700;
    font-size: 17px;
    color: var(--tanspot-white);
    position: absolute;
    top: 50%;
    right: 0;
    line-height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    text-align: center;
    width: 40px;
    height: 40px;
    background-color: rgba(var(--tanspot-base-rgb), 1);
}

.faq-one .faq-one-accrodion .accrodion.active .accrodion-title h4::before {
    content: "\f107";
    color: var(--tanspot-white);
    background-color: var(--tanspot-black);
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq-one .faq-one-accrodion .accrodion-content {
    position: relative;
    padding-bottom: 28px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 20px;
}

.faq-one .faq-one-accrodion .accrodion-content p {
    margin: 0;
}


/*--------------------------------------------------------------
# FAQ Page
--------------------------------------------------------------*/
.faq-page {
    position: relative;
    display: block;
    padding: 120px 0 120px;
    z-index: 1;
}

.faq-page__single {
    position: relative;
    display: block;
}

.faq-page__single .faq-one-accrodion .accrodion {
    position: relative;
    display: block;
    border: 1px solid rgba(var(--tanspot-black-rgb), .15);
    background: var(--tanspot-white);
    border-radius: 20px;
    overflow: hidden;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.faq-page__single .faq-one-accrodion .accrodion.active {
    border: 1px solid rgba(var(--tanspot-black-rgb), .15);
    background: var(--tanspot-white);
}

.faq-page__single .faq-one-accrodion .accrodion-title {
    position: relative;
    display: block;
    cursor: pointer;
    padding: 23px 25px 23px;
    transition: all 200ms linear;
    transition-delay: 0.1s;
}

.faq-page__single .faq-one-accrodion .accrodion-title h4 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: var(--tanspot-black);
    position: relative;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.faq-page__single .faq-one-accrodion .accrodion+.accrodion {
    margin-top: 20px;
}

.faq-page__single .faq-one-accrodion .accrodion-title h4::before {
    content: "\f105";
    font-family: "Font Awesome 5 Pro";
    font-weight: 700;
    font-size: 17px;
    color: var(--tanspot-white);
    position: absolute;
    top: 50%;
    right: 0;
    line-height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    text-align: center;
    width: 40px;
    height: 40px;
    background-color: rgba(var(--tanspot-base-rgb), 1);
}

.faq-page__single .faq-one-accrodion .accrodion.active .accrodion-title h4::before {
    content: "\f107";
    color: var(--tanspot-white);
    background-color: var(--tanspot-black);
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq-page__single .faq-one-accrodion .accrodion-content {
    position: relative;
    padding-bottom: 28px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 20px;
}

.faq-page__single .faq-one-accrodion .accrodion-content p {
    margin: 0;
}

/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/